<!doctype html>
<html>
<head>
  <title>CCWS CW - 01</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>My Student Connections from GCU</h2>
  <p>This page displays my GCU student connection listing</p>  
  <p>Click the link to view a student connection</p>  
    <ul>
      {% for item in buddy_listing %}
         <li><a href="/buddy/{{ item }}">View</a>   {{ buddy_listing[item]['name'] }} ({{ buddy_listing[item]['campus'] }})</li>
      {% endfor %}
    </ul>
</body>
</html>
